/*Fonts*/
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeueRegular.eot');
    src: local('fonts/BebasNeueRegular'),
        url('../fonts/BebasNeueRegular.woff') format('woff'),
        url('../fonts/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4,
.font-bebas-regular{
    font-family: "BebasNeueRegular", Arial, sans-serif;
}

@font-face {
    font-family: 'BebasNeueBold';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeue-webfont.woff') format('woff'),
    url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
    url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.font-bebas-bold{
    font-family: "BebasNeueBold", Arial, sans-serif;
}

@font-face {
    font-family: "AmaranthItalic";
    src: url("../fonts/AmaranthItalic.otf");
}

.font-amarath{
    font-family: "AmaranthItalic", Arial, sans-serif;
}

/*Slides theme*/
div.full-slide{
    position: absolute;
    overflow-y: scroll;
    background-size: cover;
    background-attachment: scroll;
    display: none;
    height: 0;
    width: 0;
    margin-top: 0;
    margin-left: 0;
}

div .home{
    background-image: url('../images/slide1.jpg');
}

div .overview{
    background-image: url('../images/slide2.jpg');
}

div .experience{
    background-image: url('../images/slide3.jpg');
}

div .skills{
    background-image: url('../images/slide4.jpg');
}

div .projects{
    background-image: url('../images/slide5.jpg');
}

div .education{
    background-image: url('../images/slide6.jpg');
}

div .ltcslide{
    background-image: url('../images/ltcslide.jpg');
}

/*NavBar fixes*/
nav,
.navbar-header,
.navbar-collapse,
.navbar-brand,
.nav{
    z-index: 1000030 !important;
}

.navbar-transparent
{
    background: linear-gradient(0deg,rgba(0,0,0,0) 0,rgba(0,0,0,1) 100%) !important;
    border: transparent;
}

.navbar-transparent .navbar-nav .active,
.navbar-transparent .navbar-nav>.open>a,
.navbar-transparent .navbar-nav a:hover
{
    background: linear-gradient(0deg,rgba(0,0,0,0) 0,rgba(0,0,0,1) 100%) repeat-x !important;
    border: transparent;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5) inset !important;
    color: lightskyblue !important;
}

.navbar-transparent .nav-dropdown{
    background: transparent;
}

.nav-dropdown{
    border: 1px solid rgba(0,0,0,.5);
}

.dropdown-menu{
    min-width: 157px;
}

/*Open NavBar dropdown on hover*/
@media (min-width: 768px) {
    ul.nav li.dropdown:hover > ul.nav-dropdown {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .nav-dropdown-open{
        display: block !important;
        position: static;
        float: none;
    }
}

ul.nav li a{
    font-family: "BebasNeueBold", Arial, sans-serif !important;
    font-size: 20px !important;
}

/*Main theme*/
body, .navbar-brand,
.navbar-transparent .navbar-nav > li > a,
.navbar-transparent .navbar-nav > li > ul > li > a{
    color: white !important;
}

.main-content{
    position: relative;
}

.font-stroke{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a{
    pointer-events: auto;
    color: lightskyblue;
}

a:hover,
a:focus{
    color: white !important;
    text-decoration: none !important;
}

@media(min-width: 768px) {
    .vertical-center {
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 768px) {
    .vertical-center {
        padding-top: 120px;
    }
}

.main-header{
    font-family: "BebasNeueRegular", Arial, sans-serif;
    font-size: 100px !important;
}

.scroll-glyph{
    font-size: 70px !important;
}

.list-group-item-custom{
    /*background: transparent !important;*/
    background-color: rgba(100, 90, 90, 0.9);
}

.cursor-clickable{
    cursor: pointer;
}

.well{
    background: gray;
    overflow-x: hidden;
}

.panel{
    background: gray;
}

.panel-body{
    overflow-x: hidden;
    overflow-y: scroll;
}

.modal{
    color: black;
}

/* Landing */
.landing{
    margin-top: -200px;
    color: lightgoldenrodyellow;
}

@media(max-width: 768px){
    .landing{
        padding-top: 200px;
    }
}

/*
 * images
*/
.img-center{
    margin: auto;
}

/*
 * Education slide
*/
.progress-bar-danger{
    background-color: coral;
}

.education-contents{
    font-family: "BebasNeueRegular", Arial, sans-serif;
    font-size: 25px;
    height: 96vh;
}

.education-contents h1,
.education-contents h2{
    margin-top: 0px;
    margin-bottom: 0px;
}

.education-contents mark{
    color: coral;
    background: transparent;
}

/* Progress bar */
.timeline{
    vertical-align: middle;
    font-family: "BebasNeueBold", Arial, sans-serif;
}

.progress-row-big{
    height: 60px;
    margin: 20px 5px 0 5px;
}

.progress-big{
    height: 80px;
}

.progress-big p{
    margin: 30px 0 0 0;
}

.progress-row-small{
    margin: -60px 5px 0 5px;
}

.progress-small{
    height: 40px;
    border-radius: 0 !important;
}

.progress-small p{
    margin: 10px 0 0 0;
}

.shifted-glyph{
    top: -15px;
}

@-moz-document url-prefix() {
    .shifted-glyph {
        top: -25px;
    }
}

.progress-bar{
    font-size: 20px;
    /*background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 50%,
    rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent) !important;*/
}

@media (min-width: 768px) {
    .progress-1 {
        width: 35.6%;
        background-position: 31.2px;
    }

    .progress-2{
        width: 29%;
        background-position: 20px;
    }

    .progress-3{
        width: 35.4%;
        background-position: 15px;
    }

    .progress-4{
        width: 100%;
        background-position: 0;
    }
}

@media (min-width: 992px) {
    .progress-1 {
        width: 35.1%;
        background-position: 23.3px;
    }

    .progress-2{
        width: 29.9%;
        background-position: 20px;
    }

    .progress-3{
        width: 35%;
        background-position: 20.2px;
    }

    .progress-4{
        width: 100%;
        background-position: 0;
    }
}

@media (min-width: 1200px) {
    .progress-1 {
        width: 34.7%;
        background-position: 11.5px;
    }

    .progress-2{
        width: 30.6%;
        background-position: 20px;
    }

    .progress-3{
        width: 34.7%;
        background-position: 35px;
    }

    .progress-4{
        width: 100%;
        background-position: 0;
    }
}

/*map*/
div .map-canvas {
    width: auto;
    height: 100vh;
}

div .map-controls{
    display: none;
}

div .map_contents{
    font-family: "BebasNeueRegular", Arial, sans-serif;
    font-size: 25px;
    margin-top: 150px;
    color: rgb(255,255,255);
    background: rgba(68,68,68,0.6);
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    pointer-events: none;
}

.map_contents h1{
    margin-top: -10px;
    font-size: 50px;
}

.map-header{
    height: auto;
    font-size: 75px;
}

.socicon{
    pointer-events: auto;
    position: relative;
}

/* Projects page */
@media (min-width: 768px) {
    .project_slide {
        padding-top: 100px !important;
        margin-bottom: 160px !important;
        height: 700px;
    }
}

.project_docboss{
    margin-top: 50px;
    background: transparent url("../images/DB_project.png") 250px top no-repeat;
}

.project_diff{
    margin-top: 50px;
    background: transparent url("../images/SD_project.png") 250px top no-repeat;
}

.project_ltc{
    margin-top: 50px;
    background: transparent url("../images/LTC_project.png") 250px top no-repeat;
}

.project_slide .project_info_block{
    width: 300px;
    margin-top: -50px;
}

/* White info table */
.project_info_block{
    font-family: "BebasNeueRegular", Arial, sans-serif;
    box-shadow: 0px 10px 60px 5px #000;
    color: black !important;
    margin-bottom: 20px;
}

.project_info_head{
    text-align: center;
    padding: 15px 15px 15px;
    background-color: rgba(255,255,255,0.9);
}

.project_info_inner{
    padding: 25px 25px 25px;
    border-bottom: none;
    background-color: rgba(255,255,255,0.9);
    border: 5px solid #fff;
    border-top: none;
    font-size: 18px;
}

.dashed_border_bottom{
    border-bottom: 1px dashed #000;
}

.project_info_inner h5{
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 5px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

.project_info_inner p{
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
}

/* Skill-Exp Shared */
[class^="a-background"],
[class*=" a-background"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    height: 100%;
    width: inherit;
    z-index: 100000;
}

.z-fix{
    z-index: 1000000;
}

.skill-selector,
.exp-selector{
    z-index: 1000000;
}

.skill-selector.active,
.exp-selector.active{
    border: solid;
}

[class^="skill-slide"],
[class*=" skill-slide"],
[class^="exp-slide"],
[class*=" exp-slide"]{
    display: none;
}

[class^="skill-slide"].active,
[class*=" skill-slide"].active,
[class^="exp-slide"].active,
[class*=" exp-slide"].active{
    display: block !important;
}

[class^="skill-slide"] .panel-body,
[class*=" skill-slide"] .panel-body,
[class^="exp-slide"] .panel-body,
[class*=" exp-slide"] .panel-body{
    height: 220px;
}

@media (min-width: 768px) {
    [class^="skill-slide"] .project_info_inner,
    [class*=" skill-slide"] .project_info_inner,
    [class^="exp-slide"] .project_info_inner,
    [class*=" exp-slide"] .project_info_inner{
        height: 250px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

@media (min-height: 750px){
    [class^="skill-slide"] .project_info_inner,
    [class*=" skill-slide"] .project_info_inner,
    [class^="exp-slide"] .project_info_inner,
    [class*=" exp-slide"] .project_info_inner{
        height: 330px;
    }

    .tab-description{
        padding-top: 50px;
    }
}

@media (min-height: 950px){
    [class^="skill-slide"] .project_info_inner,
    [class*=" skill-slide"] .project_info_inner,
    [class^="exp-slide"] .project_info_inner,
    [class*=" exp-slide"] .project_info_inner{
        height: 450px;
    }

    .tab-description{
        padding-top: 100px;
    }
}

/* Experience page*/
.exp-bar{
    width: 100%;
    font-size: 25px;
    padding-top: 100px;
    padding-bottom: 150px;
    position: relative;
}

.exp-selector{
    height: 75px;
}

.exp-selector img{
    width: 100px;
}

[class^="exp-slide"] h4,
[class*=" exp-slide"] h4{
    margin-top: 0;
    margin-bottom: 0;
}

/*skills page*/
.skills-bar{
    width: 100%;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 170px;
    position: relative;
}

.skill-header{
    padding-top: 0;
    z-index: 1000000;
}

.skill-selector{
    padding-top: 20px;
}

.skill-selector img{
    height: 50px;
}